a {
    text-decoration: none;
}

#container{
    padding: 10px 20px;
    min-width: 1200px;
}

.op-btn {
    margin-left: 9px;
}

.title{
    position: relative;
    line-height: 60px;
    vertical-align: middle;
    padding: 3px 9px;
}

.url-input{
    margin-top:9px;
}

.op-btns{
    margin-top: 5px;

}

.json-btns{
    margin-left: 3px;
}

.op-check-btn{
    margin-top: 3px;
}

.ellipsis {
    width: 340px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header-btns{
    font-size: 13px;
    position: absolute;
    top: 3px;
    right: 80px;
    color: #999;
    cursor: pointer;
}

.header-btn:hover{
    color: #108ee9;
}